.library-container {
  text-align: center;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}